/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

    #define U_MOUSE_MOVE_MAX 1400                     
    #undef MOVE_UP
    #undef MOVE_DOWN
    #undef MOVE_LEFT
    #undef MOVE_RIGHT
    #define MOVE_UP MOVE_VERT(-U_MOUSE_MOVE_MAX)
    #define MOVE_DOWN MOVE_VERT(U_MOUSE_MOVE_MAX)
    #define MOVE_LEFT MOVE_HOR(-U_MOUSE_MOVE_MAX)
    #define MOVE_RIGHT MOVE_HOR(U_MOUSE_MOVE_MAX)

    &mmv {
        time-to-max-speed-ms = <400>;             
    };


/ {
        #define U_MOUSE_MOVE_MAX 1400                     
    #undef MOVE_UP
    #undef MOVE_DOWN
    #undef MOVE_LEFT
    #undef MOVE_RIGHT
    #define MOVE_UP MOVE_VERT(-U_MOUSE_MOVE_MAX)
    #define MOVE_DOWN MOVE_VERT(U_MOUSE_MOVE_MAX)
    #define MOVE_LEFT MOVE_HOR(-U_MOUSE_MOVE_MAX)
    #define MOVE_RIGHT MOVE_HOR(U_MOUSE_MOVE_MAX)

    &mmv {
        time-to-max-speed-ms = <400>;             
    };
    
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
        //╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬─────────────┬────────────┬───────────╮
        //│  DEL       │  Q         │  W         │  E         │  R         │  T         │   │  Y         │  U         │  I         │  O          │  P         │  BSPC     │
            &kp DEL      &kp Q        &kp W         &kp E       &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P        &kp BSPC   
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼─────────────┼────────────┼───────────┤
        //│  SHFT      │  A         │  S         │  D         │  F         │  G         │   │  H         │  J         │  K         │  L          │ ; :        │  ' "      │
            &kp LSHFT   &kp A         &kp S        &kp D        &kp F        &kp G            &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp SQT    
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼─────────────┼────────────┼───────────┤
        //│  CTRL      │  Z         │  X         │  C         │  V         │  B         │   │  N         │  M         │ , <        │ . >         │ / ?        │  ESC      │
            &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT       &kp FSLH     &lt 3 ESC   
        //╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼─────────────┴────────────┴───────────╯
                                                  &kp BSPC     &kp SPACE    &lt 1 ENTER      &kp ENTER    &kp SPACE    &lt 2 BSPC
        //                                       ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
                        >;
                };

                lower_layer {
                        bindings = <
        //╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭─────────────────┬───────────────┬────────────┬────────────┬────────────┬─────────────╮
        //│  BSPC      │  (         │  7         │  8         │  9         │ )          │   │  +              │  -            │  F1        │  F2        │  F3        │  F4         │
            &kp BSPC     &kp LPAR     &kp N7       &kp N8       &kp N9      &kp RPAR          &kp PLUS         &kp MINUS        &kp F1      &kp F2       &kp F3       &kp F4      
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├─────────────────┼───────────────┼────────────┼────────────┼────────────┼─────────────┤
        //│  SHFT      │  [         │  4         │  5         │  6         │  ]         │   │  *              │  /            │  F5        │  F6        │  F7        │  F8         │
            &kp LSHFT    &kp LBKT     &kp N4       &kp N5       &kp N6       &kp RBKT         &kp KP_MULTIPLY   &kp KP_DIVIDE   &kp F5       &kp F6       &kp F7       &kp F8      
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├─────────────────┼───────────────┼────────────┼────────────┼────────────┼─────────────┤
        //│  ALT       │  {         │  1         │  2         │  3         │  }         │   │  =              │  $            │  F9        │  F10       │  F11       │  F12        │
            &kp LALT     &kp LBRC    &kp N1        &kp N2       &kp N3       &kp RBRC         &kp KP_EQUAL      &kp DLLR        &kp F9       &kp F10      &kp F11      &kp F12     
        //╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├─────────────────┼───────────────┼────────────┼────────────┴────────────┴─────────────╯
                                                   &trans        &kp N0      &trans           &trans            &trans          &trans
        //                                       ╰────────────┴────────────┴────────────╯   ╰─────────────────┴───────────────┴────────────╯
                        >;
                };

                raise_layer {
                        bindings = <
        //╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬───────────────┬─────────────┬────────────┬───────────╮
        //|  TAB       |  !         |  @         |  up        |  $         |  %         |   |  ^         |  &         |  m UP MOVE_VERT        |  (          |  )         | BKSP      |
            &kp TAB      &kp EXCL     &kp AT       &kp UP       &kp DLLR     &kp PRCNT        &kp CARET    &kp AMPS     &mmv MOVE_UP          &kp LPAR      &kp RPAR     &kp BSPC    
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼───────────────┼─────────────┼────────────┼───────────┤
        //| CTRL       |            |  left      |  down      |  right     |            |   |  -         |  n LEFT    |  m DOWN       |  m RIGHT    |  \         |  `        |
            &kp LCTRL    &trans       &kp LEFT     &kp DOWN     &kp RIGHT    &trans           &kp MINUS    &mmv MOVE_LEFT MOVE_HOR      &mmv MOVE_DOWN MOVE_VERT         &mmv MOVE_RIGHT MOVE_HOR       &kp BSLH     &kp GRAVE
        //├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼───────────────┼─────────────┼────────────┼───────────┤
        //| SHFT       |            |            |            |            |            |   |  _         |  +         |  {            |  }          | "|"        |  ~        |
            &kp LSHFT    &trans      &trans       &trans       &trans         &trans          &kp UNDER    &kp PLUS     &kp LBRC        &kp RBRC      &kp PIPE     &kp TILDE   
        //╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼───────────────┼─────────────┴────────────┴───────────╯
                                                   &kp LGUI     &trans       &kp SPACE        &kp RET      &trans       &trnas
        //                                       ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
                        >;
                };

                bluetooth_layer {
                        bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭────────────┬────────────┬────────────┬─────────────┬────────────┬───────────╮
        //│             │             │             │             │             │             │   │            │            │            │             │            │           │
            &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6            &kp F7       &kp F8       &kp F9       &kp F10       &kp F11      &kp F12    
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├────────────┼────────────┼────────────┼─────────────┼────────────┼───────────┤
        //│  BT clear   │  BT0        │  BT1        │  BT2        │  BT3        │  BT4        │   │            │            │            │             │            │           │
            &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &trans       &trans       &trans       &trans        &trans       &trans    
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├────────────┼────────────┼────────────┼─────────────┼────────────┼───────────┤
        //│             │             │             │             │             │             │   │            │            │            │             │            │           │
            &trans        &trans        &trans        &trans        &trans        &trans             &trans      &trans       &trans       &trans        &trans       &trans   
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├────────────┼────────────┼────────────┼─────────────┴────────────┴───────────╯
                                                      &trans        &trans        &trans            &trans       &trans       &trans
        //                                          ╰─────────────┴─────────────┴─────────────╯   ╰────────────┴────────────┴────────────╯
                        >;
                };
        };
};